body {
    margin: 0;
    padding: 0;
  
  }

/* ----- The entire scrollbar -----*/
::-webkit-scrollbar {
    display: none;
}


/* ----- Header Additional style -----*/
.header-title {
    margin-top: 90px;
    margin-bottom: 5px;

}

.title-italic-font {
    font-size: 20px;
    color: grey;
}

.item-link {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}


/*----- Additional style for "li, a:hover" -----*/

.li-additional-style li{
    list-style: none;
}


.li-additional-style li:hover{
    background: #DCDFE3 !important;
}

.li-additional-style li a:hover{
    text-decoration: none;
    color: #2C70D9;
}


/*----- Footer Additional style -----*/
.footer-title {
    color: #fff;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 0;
}

.footer-logo {
    font-size: 2rem;
}

.footer-logo span {
    color: lightseagreen;
}

span .copyright {
    font-size: 12px !important;
    color: #fff;
}